*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  
  }

h3{
 
  color:white;
  background: transparent;
  text-shadow: 0 2px 2px black;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.div_style{
  width:100%;
  height:100vh;
  background-color:#8e44ad;
  text-transform:uppercase;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;


}
h1{
  color:white;
  background: transparent;
  text-shadow: 0 2px 2px black;
  text-align: center;
  align-items: center;
  justify-content: center;
}
input{

width: inherit;
 
font-family: serif;
  padding:15px 20px;
  border:none;
  outline: none;
  margin:20px 0;
  font-style: normal;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-weight: 500;
}

button{
  line-height: 24px;
  padding:0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:auto;
  background-color: #9b59b6;
  color:white;
  border:2px solid whitesmoke;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
 text-align: center;
  justify-content: center;
}